{
  "env": {
    "development": {
      "presets": [
        ["solid"]
      ],
      "plugins": [
        ["module:solid-refresh/babel"]
      ]
    },
    "production": {
      "presets": [
        ["solid"]
      ],
      "plugins": []
    }
  }
}
